<section class="h-100 gradient-custom-2">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div>
          <div class="card">
            <div>
                <div class="card-body text-black pt-3">
                    <div class="mb-1">
                      <div class="p-4" style="background-color: #f8f9fa;">
<!-- Poner un par y el resto poner un boton "ver todos" y que un popup los liste, con link al certificado -->
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
