<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="../../../index.html">
        <img src="../../../assets/images/logoArgPrograma.png" alt="Logo de argentina programa" height="70">
        <a class="navbar-brand" >#YoProgramo</a>
      </a>
      <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" 
      aria-expanded="true" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <ul class="navbar-nav sm-icons mx-auto">
                <a class="nav-link" href="https://www.linkedin.com/in/franco-javier-aguirre/" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a class="nav-link" href="https://github.com/FrancoAguirre112" target="_blank"><i class="bi bi-github"></i></a>
                <button class="btn btn-light" type="button">Iniciar Sesion</button>
            </ul>
        </ul>
      </div>
    </div>
  </nav>