<section class="h-100 gradient-custom-2">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div>
          <div class="card">
            <div>
                <div class="card-body text-black pt-3">
                    <div class="mb-1">
                      <div class="p-4" style="background-color: #f8f9fa;">

                        <div class="row featurette">
                        <div class="col-md-8 order-md-2">
                            <h4 class="featurette-heading">SmartBOL</h4>
                            <h5>Cofundador | 2019 - Actualidad</h5>
                            <p>Mi trabajo fue adaptándose mientras más gente se fue sumando al proyecto, centrándome en la actualidad en la creación de contenido, tanto en posts para redes sociales como Instagram y Twitter, como también la creación y dirección de videos para YouTube. Junto con esto fui responsable de la creación y el mantenimiento de la web de la empresa, tanto la parte funcional como también lo visual.</p>
                        </div>
                        <div class="col-md-2">
                            <a href='https://smartbol.com.ar/' target="_blank">
                                <img 
                                src="../../../assets/images/logoSB.png" 
                                alt="Imagen del logo de SmartBOL" 
                                class="featurette-image img-fluid mx-auto img-thumbnail" 
                                width="200" 
                                height="200" 
                                preserveAspectRatio="xMidYMid slice">
                            </a>
                        </div>
                        </div>

                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
