<tr class="table" *ngFor="let Experiencia of expe">
  <div class="row featurette pt-5">
    <div class="col-md-8 order-md-2">
      <h4 class="featurette-heading">{{Experiencia.nombreE}}</h4>
      <p>{{Experiencia.descripcionE}}</p>
    </div>
    <div class="col-md-2">
      <!-- <a href="https://smartbol.com.ar/" target="_blank">
        <img
          src="../../../assets/images/logoSB.png"
          alt="Imagen del logo de SmartBOL"
          class="featurette-image img-fluid mx-auto img-thumbnail"
          width="200"
          height="200"
          preserveAspectRatio="xMidYMid slice"
        />
      </a> -->
    </div>
  </div>
  <button class="btn btn-dark" routerLink="/editexp/{{Experiencia.id}}" *ngIf="isLogged">
    <i class="bi bi-pencil-fill"></i>
  </button>
  <button class="btn btn-dark" (click)="delete(Experiencia.id)" *ngIf="isLogged">
    <i class="bi bi-trash-fill"></i>
  </button>
  
</tr>
<button type="button" class='btn btn-dark' routerLink="/nuevaexp" *ngIf="isLogged">
  Agregar Experiencia
</button>

