<app-header></app-header>
<app-acerca-de></app-acerca-de>
<section class="h-100 gradient-custom-2">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div>
          <div class="card">
            <div>
                <div class="card-body text-black pt-3">
                    <div class="mb-1">
                      <div class="p-4" style="background-color: #f8f9fa;">
                        <h2 class="pb-2 border-bottom d-flex justify-content-center">Experiencia</h2>
                            <app-experiencia></app-experiencia>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section class="h-100 gradient-custom-2">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div>
          <div class="card">
            <div>
                <div class="card-body text-black pt-3">
                    <div class="mb-1">
                      <div class="p-4" style="background-color: #f8f9fa;">
                        <h2 class="pb-2 border-bottom d-flex justify-content-center">Educación</h2>
                            <app-educacion></app-educacion>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section class="h-100 gradient-custom-2">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div>
          <div class="card">
            <div>
                <div class="card-body text-black pt-3">
                    <div class="mb-1">
                      <div class="p-4" style="background-color: #f8f9fa;">
                        <h2 class="pb-2 border-bottom d-flex justify-content-center">Habilidades</h2>
                            <app-habilidades></app-habilidades>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section class="h-100 gradient-custom-2">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div>
          <div class="card">
            <div>
                <div class="card-body text-black pt-3">
                    <div class="mb-1">
                      <div class="p-4" style="background-color: #f8f9fa;">
                        <h2 class="pb-2 border-bottom d-flex justify-content-center">Proyectos</h2>
                            <app-proyectos></app-proyectos>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
  </section>

