<section class="h-100 gradient-custom-2">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div>
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-image: url(../../../assets/images/Banner.png)">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <img src={{persona.img}}
                  alt="Imagen de perfil" class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1">
              </div>
              <div class="ms-3" style="margin-top: 6rem;">
                <h5>{{persona.nombre}} {{persona.apellido}}</h5>
                <p>Full Stack Developer Jr</p>
              </div>
            </div>
            <div class="card-body text-black pt-5">
              <div class="mb-5">
                <div class="p-4" style="background-color: #f8f9fa;">
                  <p class="font-italic mb-1">{{persona.descripcion}}</p>
                  <div class="d-flex pt-4">
                    <button type="button" class='btn btn-dark flex-fill' routerLink="/editacercade/1" *ngIf="isLogged">
                      <i class="bi bi-pencil-fill"></i>
                    </button>
                  </div>
                </div>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
